<mat-toolbar color="" class="bg-secondary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon class="text-white">menu</mat-icon>
    </button>
    <span class="text-white">Online Recipe Finder</span>
    <span class="example-spacer"></span>
    <a routerLink="">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>home</mat-icon>
    </button>
  </a>
  <a routerLink="favorite">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>favorite</mat-icon>
    </button>
  </a>
  </mat-toolbar>
  